:root{
  --primary-color: #E60013FF;
  --secondary-color: #424242FF;
  --background-color: #1C1C1CFF;
  --white-color: #fff;
  --light-green-color: rgba(91, 168, 41, .08);
  --card-shadow: rgba(0, 0, 0, 0.1);

  --border-radius-card: 0.5rem;

  --text-small: 12px;
  --text-medium: 14px;

  --font-regular: 400;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  direction: rtl;
  background-color: var(--background-color);
  scroll-behavior: smooth;
  padding-bottom: 7px;
}

