:root{
  --primary-color: #ff00a4 ;
  --light-gray-color: #f8f9fb;
  --text-gray-color: #a3a3a3;
  --skeleton-gray-color: #e7e7e7;
  --text-color: #404040;
  --green-color: #5ba839;
  --white-color: #fff;
  --light-green-color: rgba(91, 168, 41, .08);
  --card-shadow: rgba(0, 0, 0, 0.1);

  --text-small: 12px;
  --text-medium: 14px;

  --font-regular: 400;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  direction: rtl;
  background-color: var(--light-gray-color);
  scroll-behavior: smooth;
  padding-bottom: 7px;
}

.skeleton{
  width: 100%;
  height: 260px;
  background-color: var(--light-gray-color);
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skeleton__section{
  height: 250px;
  width: calc(100% - 32px);
  background-color: white;
  border-radius: 6px;
  border: solid 0.5px #e6e6e6;
  box-shadow: 0 2px 12px 0 var(--card-shadow);
}

.skeleton__block{
  background-color: var(--skeleton-gray-color);
  width: 100%;
}

.skeleton__block--main{
  height: 134px;
  border-radius: 6px 6px 0 0;
  animation: loading 1s infinite alternate;
}

.skeleton__block--sub {
  height: 15px;
  border-radius: 10px;
  animation: loading 1s infinite alternate;
}

.skeleton__block-group {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 110px;
  padding: 20px 16px 8px 16px;
}

@keyframes loading {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

